version: '3.8'

services:

  client:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    networks:
      - frontend
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:5000 app:app
    env_file:
      - ./.env
    environment:
      # SQLALCHEMY_DATABASE_URI: postgresql://postgres:hallohalloMaster@postgres-1.c1le0hpnxv6u.eu-west-1.rds.amazonaws.com:5432/postgres
      SQLALCHEMY_DATABASE_URI: ${SQLALCHEMY_DATABASE_URI}
    ports:
      - 8000:5000
    volumes:
      - ./backend:/app
      - appdata:/var/www/
    networks:
      - backend
      - frontend
    restart: always
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - backend
networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
volumes:
  appdata:
    driver: local
  postgresdata:
    driver: local
