.articles{
    width: 900px;    
    margin: auto;
    margin-top: 30px;
    align-items: center;
    align-self: center;
    position: relative;
    overflow-y: scroll;
    height: 420px;
    overflow-x: hidden;
    }