.dashboard{
    margin: auto;
    position: relative;
    width: 900px;
    height: 600px;
    background: white;
    border-radius: 20px;
    margin-top: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dashboard-titel{
    width: 900px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: black;
    height: 35px;
    line-height: 38px;
    background-color: #67C39266;
    border-radius:  20px 20px 0 0;
}
.registerpara{
   height: 100px;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    background-color: #67C39266;
    
}
.dashboard-paragraph{
  margin: auto;
  text-align: center;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #000000;
  }
  .registerbutton{
font-size: 14px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  
  }
  