

.articles-cards{
    position: relative;
    margin: auto;
    
   }
.each-article{
    width: 412px;
    border: none;
    height: 100px;
    border-radius: 50px;
     margin-top: 20px;
    display: inline-flex;
    
}
.each-article h6{
    display: flex;
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    
}
.each-article p{
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    width: 280px;
    font-weight: 500;
    
}
.clickable{
    width: 412px;
    height: 80px;
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: #fff8f9;
    color: #49454F;
   
   
}
.yellow-tick{
    background-image: url(../../assets/images/monogram.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    
}