

.articles-cards{
    position: relative;
    margin-bottom: 20px;
    width: 800px;
    margin-right: 10px;
   height: 100%;
    margin: auto;
    
   

}
.each-article{
    width: 412px;
    border: none;
    height: 100px;
    border-radius: 50px;
    
    margin-top: 20px;
    display: inline-flex;
    
}
.each-article h6{
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    
    font-weight: 500;
    
}
.each-article p{
    margin-top: 3px;
    text-align: left;
    font-size: 14px;
    
    font-weight: 500;
    
}
.each-article button{
    width: 412px;
    height: 80px;
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: #fff8f9;
    margin-left: -13px;
   
}
.yellow-tick{
    background-image: url(../../images/monogram.png);
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 15px;
    align-items: center; 
    width: 60px;
    height: 60px;
    
}