
/* General CSS Specifications belong here! */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans&display=swap');

:root {
    --black: #000000;
    --green: #67C392;
    --white: #FFFFFF;
    --pink: #FBA276;
    --font-stylish: 'Bebas Neue', cursive;
  }

  body{
    background-color: var(--green)!important;
    position: relative;
    margin:auto;     
  }

  h1, h2, h3, h4 {
    font-family: var(--font-stylish);
  }

  .font-24{
    font-size: 24px;
  }

  .font-64{
    font-size: 64px;
  }

  
  .footer{
    background-color: #FFFFFF!important;
    height: 50px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: var(--font-stylish);
   padding: 10px 0 20px 0;
  }

  .logo {
    display: flex;
    margin: 0;
  }

  .logo img {
    margin-right: 10px;
  }

  .nav {
    background-color: var(--white);
    font-family: var(--font-stylish)!important;
    font-size: 16px;
   
  }

  .nav-element {
    display: flex;
    flex-direction: row;
   align-items: center;
  }

  .nav-element span{
    padding-top: 5px;
    margin-right: 10px;
  }

/* Homepage */

.homePage{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stylish);
}


.homePage > * {
  padding: 30px;
}

.button-pink {
  background-color: var(--pink);
  border-radius: 100px;
  border-style: none;  
  padding: 12px 20px;
}

  