
/* General CSS Specifications belong here! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/anton');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
:root {
    --black: #000000;
    --green-primary: #67C392;
    --yellow-secondary: #F7E167;
    --pink-accent: #FBA276;
    --red-extra: #FBA276;
    --transparent-green: #C2E7D3;
    --white: #FFFFFF;
    --font-stylish: 'Anton', cursive;
    --font-regular: 'Open Sans Light', sans-serif;
    --font-size-headline: 16px;
    --font-size-sub-headlines: 14px;
    --font-size-paragraphs: 14px;
    --font-size-small: 12px;
  }

  body{
    background-color: var(--green-primary)!important;
    font-family: var(--font-regular);
    position: relative;
    margin:auto;     
  }

  h1, h2, h3, h4 {
    font-family: var(--font-stylish);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
h6 {
  font-family: var(--font-regular);
  text-transform: uppercase;
  letter-spacing: 2px;
  
}
  h2 {
    font-size: var(--font-size-headline);
  }
 p {
  font-family: var(--font-regular);

 }
 button{
  font-family: var(--font-regular);
  font-size: 10px;
  
 }
  .font-24{
    font-size: 24px;
  }

  .font-64{
    font-size: 64px;
  }

  .err {
    color: var(--pink-accent);
  }

  .footer{
    background-color: #FFFFFF!important;
    height: 50px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: var(--font-stylish);
   padding: 10px 0 20px 0;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .logo {
    display: flex;
    margin: 0;
  }

  .logo img {
    margin-right: 10px;
  }

  .nav {
    background-color: var(--white);
    font-family: var(--font-stylish)!important;
    font-size: 16px;
   
  }

  .nav-element {
    display: flex;
    flex-direction: row;
   align-items: center;
  }

  .nav-element span{
    padding-top: 5px;
    margin-right: 10px;
  }

/* Homepage */

.homePage{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stylish);
}


.homePage > * {
  padding: 30px;
}

.button-pink {
  background-color: var(--pink-accent);
  border-radius: 100px;
  border-style: none;  
  padding: 12px 20px;
  font-family: var(--font-regular);
  
  
}
.button-pink-outlined {
  background-color: transparent;
  border-radius: 100px;
  border: solid 1px var( --pink-accent);  
  padding: 12px 20px;
}

/* Login */

.auth-section{
  height: 60vh!important;
}

.form-input-white {
  width: 85%;
  box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--white);
    border-style: none;
    padding: 16px 20px;
    color: var(--black);
    margin: 8px 0;
    outline: none;
}

.form-input-grey {
  width: 85%;
  box-sizing: border-box;
    border-radius: 10px;
    background-color: #F0F1EC!important;
    border-style: none;
    padding: 16px 20px;
    color: var(--black);
    
    outline: none;
}

#login-form {
  margin: 70px 0;
}

.form-card {
  border-radius: 20px!important;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border: none;
}

.form-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--transparent-green);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding:  8px;
} 

.form-body{
  padding: 16px;
  font-size: var(--font-size-small);
}

/* || UTILITY CLASSES */
.errmsg {
  color: firebrick;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.mb-10{
  margin-bottom: 10px;
}

.articles{
  padding: 20px;
  margin: auto;
  align-items: center;
  align-self: center;
 position: relative;
 overflow-y: scroll;
 height: 600px;
 overflow-x: hidden;
}

.articles h6{
  font-weight: 100;
  font-size: 15px;
}