.logincontainer{
  display: block;
  position: relative;
  margin: auto;
  align-items: center;
  width: 350px;
  height: 500px;
  font-family: 'Raleway', sans-serif;
  top:10px;
 
   }
 
input[type=email],input[type=password]{
  width: 350px;
  height: 35px;
  padding: 5px;
  margin-top: -10px;
  color: #4f4f4f;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
   }
 
.loginbutton{
 
background-color: #FBA276 !important;

  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #000000 !important;
  margin-top: 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 100px !important;
  border: none !important;
  padding: 10px 0;
  outline:none;
  margin-bottom: 80px;}
   
  .loginwrap{
    width:350px;
    margin: auto;
    text-align: left;
   margin-top: 150px;
   
  }
  .login-titel{
    text-align: left;
    width: 350px;
   font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: black;
    height: 48px;
    line-height: 38px;
  }
  .login-paragraph{
    width: 350px;
    height: 48px;
  text-align: left;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #000000;
  }

  .login-text{
    width: 350px;
    height: 24px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #000000;
    margin-bottom: -25px;
  }
  .login-text1{
    width: 350px;
    height: 24px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #000000;
    margin-top: 5px;
    text-decoration-line:underline;
    text-transform:none;
    font-weight: normal;
    
  }
 
  .login-form{
    text-align: left;
  }
  .login-text1:hover{
    color: #F7E167;
    text-decoration-line: none;
  }
  .login-text2{
    width: 350px;
    height: 24px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #000000;
    margin-bottom: -40px;
  }
  input#email {
    background-image: url(../../images/SecuredLetter.png);
    background-repeat: no-repeat;
    text-indent: 30px;
    background-position: 10px 5px; 
}
input#email:focus{
  background-image:none;
 }
 input#password {
  background-image: url(../../images/Lock.png);
  background-repeat: no-repeat;
  text-indent: 30px;
  background-position: 10px 5px; 
}
input#password:focus{
background-image:none;
}